:root {
  --content-padding: 160px;
  --font: Inter;
  --font-weight: 800;
  --navbar-width: 12vw;
  --navbar-min-width: 200px;
  --white: rgb(235, 235, 235);
  --black: rgb(25, 25, 25);
}

body {
  font-family: var(--font);
  font-weight: var(--font-weight);
  margin: 0;
  padding: 0;
  background-color: #0c0c0d;
  min-height: 100vh;

  /* Layered background: Gradient + Dots */
  background-image: 
    radial-gradient(farthest-corner at top left, rgba(255, 255, 255, 0.04), transparent),
    radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px);

  background-repeat: 
    no-repeat, 
    repeat, 
    repeat;

  background-size: 
    100% 100%,  /* gradient */
    20px 20px,   /* dot grid */
    20px 20px;   /* offset dot grid */

  background-position: 
    0 0, 
    0 0, 
    10px 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content { 
  color: rgb(235, 235, 235);
  /* margin-left: max(var(--navbar-min-width), var(--navbar-width)); */
  margin-top: 48px;
  padding: 0px var(--content-padding);
  flex: 1;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');